.cache
.DS_*
.env
.idea
.jira.d
.tmp
.vscode
*-lock.json
*.log
*.sublime*
**/*.back.*
**/*.backup.*
compile
coverage
creds
dist
logs
node_modules
npm-debug.log
stats.*
storybook-static
yarn-error.log

!scripts/dist
